body {
  text-align: center;
  margin: 0;
  padding: 0;
}

header {
  background-image: url(../img/headerbg.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 500px;
}

.content {
  height: 120px;
}

.header-in {
  background-color: #045c49;
  color: #ffffff;
  opacity: 70%;
  padding: 20px;
}

.txt-box {
  padding-top: 20px;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}

.txts {
  font-size: 18px;
}

.txtss {
  font-size: 10px;
}

.txt {
}

.txtl {
  font-size: 56px;
  padding-right: 20px;
}

.title {
  display: flex;
  justify-content: center;
  font-size: 36px;
}

time {
  padding: 10px 40px;
}

.txtm {
  padding-top: 20px;
  font-size: 30px;
}

.consept {
  background-color: rgb(41, 40, 40);
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

.info {
  padding: 50px 80px;
  margin: 60px;
}
.txtsm {
  font-size: 14px;
}

.guest {
  background-color: #045c49;
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

.schedule {
  background-color: rgb(41, 40, 40);
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

img {
  width: 100%;
  height: 300px;
  vertical-align: bottom;
}
.access {
  background-color: #045c49;
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

.ggmap {
  padding-top: 50px;
}

.entry {
  background-color: rgb(41, 40, 40);
  color: #ffffff;
  padding: 15px;
  font-size: 30px;
  font-weight: 400;
}

#btn {
  margin: 20px;
  background-color: #045c49;
  color: #ffffff;
  width: 280px;
  height: 40px;
  border-radius: 5px;
}

#btn:hover {
  opacity: 0.7;
}

footer {
  background-color: rgb(41, 40, 40);
  color: #ffffff;
  padding: 15px;
}

.info2 {
  padding: 20px 80px;
}